* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  font-size: large;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(186, 193, 193);
  padding: 2em 1em 2em 1em;
  margin-bottom: 2em;
}
header,
h1 {
  margin-right: auto;
}
nav {
  margin: auto;
}
a {
  padding-left: 2em;
  text-decoration: none;
}
button {
  padding: 1em 2em;
  background-color: #009578;
  border: 1px solid #009578;
  border-radius: 10px;
  margin-left: auto;
  color: white;
}
.TEXT {
  text-align: center;
  margin-bottom: 1em;
}

.drop-zone {
  max-width: 300px;
  height: 200px;
  padding: 25px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.gen {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
